*.jar
*~

#sbt
project/target/
project/project/target

target/
src/jline/target/

#mbench
reports/
mbench.last.date

# other
bin/

# eclipse, intellij
.metadata
.classpath
.project
src/intellij/*.iml
src/intellij/*.ipr
src/intellij/*.iws
.cache
.idea
.settings
.idea_modules

# bak files produced by ./cleanup-commit
*.bak
*.swp